[Unit]
Description=Shadowsocks-Rust Server
After=network.target

[Service]
ExecStart=/root/.cargo/bin/ssserver -c /etc/shadowsocks-rust/config.json -u
Restart=on-failure
User=nobody
Group=nogroup
LimitNOFILE=51200

[Install]
WantedBy=multi-user.target
