[Unit]
Description=Gotify server
After=network.target

[Service]
Type=simple
User=gotify
Group=gotify
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/gotify
Restart=on-failure

[Install]
WantedBy=multi-user.target
